
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    font-family: sans-serif;
    font-size: 16px;
}

.content {
    width: 70%;
    margin: 0 auto;
}

.background-row {
    background: pink;


}

.top-menu-full {
    margin-top: -1.4em;
    background-color: white;
}


.nav-link {
    font-size: 1.3em;
    width: 10em;
    color: black;
    font-family: 'Kanit', sans-serif;

}

.nav-link:hover, .nav-link:focus, .nav-link:active {
    transition: 0.4s ease-in;
    color: black;
    border-color: brown;
    border: 1px dotted;
    -webkit-box-shadow: 38px -18px 52px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 38px -18px 52px 0px rgba(0, 0, 0, 0.75);
    box-shadow: 38px -18px 52px 0px rgba(0, 0, 0, 0.75);
}


/* TOP BACKGROUND AND LOGO HOLKOFF*/
.top-intro {
    background: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    height: 50em;
    opacity: 0.7;


}

.logo-img {
    margin-bottom: -40em;
    z-index: 100000;
    position: relative;
    width: 29em;
    transform: rotate(12deg) translate(36px, -830px) scale(1.1, 1) skew(4deg, 0deg);
}


/*FACTS*/


.facts {
    width: 100%;
    height: 17em;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.facts-item {
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.fact-number {
    font-size: 6em;
    font-family: fantasy;
}

.fact-note {
    font-size: 2em;
    font-family: fantasy;
}

.label-fact {
    width: 2em;
    margin-bottom: -2.8000000000000007em;
    font-size: 4em;
    transform: rotate(347deg) translate(1587px, 332px) scale(1.1, 1) skew(0deg, 0deg);
    font-family: fantasy;
}


/*ALERT AKCE */
.alert-transtion {
    margin-bottom: -4em;
    z-index: 100;
    width: 16em;
    transform: rotate(0deg) translate(1348px, -70px) scale(1.1, 1) skew(0deg, 0deg);
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

/*WHO WE ARE */
.who-we-are {
    display: flex;
    justify-content: space-evenly;
}

.who-we-are-textarea {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.who-we-are-label {
    padding: 0.7em;
    transform: rotate(0deg) translate(597px, -38px) scale(1.1, 1) skew(0deg, 0deg) perspective(10px) rotateX(0deg) rotateY(1deg);
    background: pink;
    width: 16em;
    height: 3em;
}

.photo-who-we-are {
    transform: rotate(0deg) translate(25px, -19px) scale(1.1, 1) skew(0deg, 0deg);
}


.calendar {
    display: flex;
    justify-content: center;
}

.galery {
    margin: 1em;
}


/* BOOTSTRAP UPRAVY */


.card-header {
    background: inherit;
    border: none;
    width: 70%;
    margin: 0 auto;
}


.uni-justify-align {
    display: flex;
    justify-content: center;
    align-items: center;
}

.pos-f-t {
    display: none;
}


@media only screen and  (max-width: 600px) {
    html, body {
        overflow-x: hidden;
    }

    .top-intro{
        max-width: 100%;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center center;
        height: 18em;
        opacity: 0.7;
    }
    .logo-img{
        margin-bottom: -40em;
        z-index: 100000;
        position: relative;
        width: 11em;
        transform: rotate(12deg) translate(120px, -539px) scale(1.1, 1) skew(4deg, 0deg);
    }
    .navbar{
        margin-top: -0.4em;
    }
    .top-intro{
        background: fixed;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center center;
        height: 25em;
        opacity: 0.7;
    }
    .facts{
        flex-direction: column;
    }

    .fact-note{
        font-size: 1em;
        font-family: fantasy;
    }
    .fact-number {
        font-size: 2em;
        font-family: fantasy;
    }

    .pos-f-t {
        display: block;
    }

    .who-we-are {
        display: flex;
        flex-direction: column;
    }
    .photo-who-we-are{
        display: none;
    }

    .tmp-easter{
        max-width: 100%;
    }

    .card-header{
        display: none;
    }


    .alert-transtion {
        display: none;
        /*margin-bottom: -4em;
        z-index: 100;
        width: 16em;
        transform: rotate(0deg) translate(1348px, -70px) scale(1.1, 1) skew(0deg, 0deg);
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;*/
    }

    .label-fact {
        display: none;
        /* width: 2em;
         margin-bottom: -2.8000000000000007em;
         font-size: 4em;
         transform: rotate(347deg) translate(1587px, 332px) scale(1.1, 1) skew(0deg, 0deg);
         font-family: fantasy;*/
    }

    .who-we-are-label {
        display: none;
        /* padding: 0.7em;
         transform: rotate(0deg) translate(597px, -38px) scale(1.1, 1) skew(0deg, 0deg) perspective(10px) rotateX(0deg) rotateY(1deg);
         background: pink;
         width: 16em;
         height: 3em;*/
    }

}



@media only screen and  (max-width: 450px) {
    html, body {
        overflow-x: hidden;
    }
    .logo-img {
        margin-bottom: -40em;
        z-index: 100000;
        position: relative;
        width: 11em;
        transform: rotate(12deg) translate(38px, -539px) scale(1.1, 1) skew(4deg, 0deg);
    }
}




